/**
 * Require modules
 */
@use '~@squirrel-forge/sass-util' as util;

@mixin properties {
  --header-height: calc(var(--app-ref-bh) + var(--app-size-s) * 2);
  --header-offset: calc(var(--header-height) + var(--app-size-p));
}

@mixin styles {
  .header {
    z-index: 100;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    color: var(--header-color-text);
    background-color: var(--header-color-background);
    filter: drop-shadow(0 0 var(--app-size-m) var(--header-color-shadow));

    @include util.media-query('mobile-tablet-portrait') {
      .ui-wrap--menu-drop {
        background-color: var(--header-color-background);
        border-radius: 0 0 var(--app-size-r) var(--app-size-r);
      }
      .ui-button {
        width: 100%;

        &__label {
          white-space: nowrap;
        }
      }
    }
    @include util.media-query('mobile') {
      [data-nav="show"],
      [data-nav="hide"] {
        .ui-button {
          &__label {
            @include util.mixins-hide-accessible;
          }
        }
      }
    }

    &__logo {
      --ui-text-normalize-headline-margin: 0;
      --ui-text-normalize-paragraph-margin: 0;

      display: flex;
      align-items: center;

      @include util.mixins-no-select;

      h1 {
        display: inline;
        font-size: inherit;
        line-height: inherit;

        & > span:last-child {
          display: inline-block;
          transform: translate(0, 10%);
        }
      }

      p {
        margin: 0;
      }
    }

    &__copy {
      padding: var(--app-size-m) var(--app-size-h);
      white-space: nowrap;

      @include util.media-query('tablet-landscape-desktop') {
        display: none;
      }
    }
  }
}
